@charset "utf-8";

/* font-family: "MyriadProRegular"; */
@font-face {
	font-family: "MyriadProRegular";
	src: url("../fonts/MyriadProRegular/MyriadProRegular.eot");
	src: url("../fonts/MyriadProRegular/MyriadProRegular.eot?#iefix")format("embedded-opentype"),
		url("../fonts/MyriadProRegular/MyriadProRegular.woff") format("woff"),
		url("../fonts/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

/* font-family: "MyriadProBold"; */
@font-face {
	font-family: "MyriadProBold";
	src: url("../fonts/MyriadProBold/MyriadProBold.eot");
	src: url("../fonts/MyriadProBold/MyriadProBold.eot?#iefix")format("embedded-opentype"),
		url("../fonts/MyriadProBold/MyriadProBold.woff") format("woff"),
		url("../fonts/MyriadProBold/MyriadProBold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}



*,
html,
body {
	margin: 0;
	padding: 0;
	font-family: MyriadProRegular;
	font-size: 16px;
	list-style: none;
	outline: none;
	border: 0;
}

h3 {
	font-size: 30px;
	color: #f6a819;
	text-align: center;
}

.container {
	width: 1143px;
	height: auto;
	overflow: hidden;
	margin: 0 auto;
	position: relative;
	min-height: 50px;
}



/* header */
header {
	width: auto;
	height: 269px;
	padding: 42px 93px 65px 93px;
	background: url(../images/header-background.png) no-repeat;
	background-size: cover;
	color: #fff;
	margin: 0 auto;
}

.header-top,
.header-bottom {
	width: auto;
}

.header-top {
	height: 100px;
	padding: 0 22px 0 35px;
	border-bottom: 2px solid #7c7c7c;
}

.header-bottom {
	height: 160px;
	padding: 35px 0 35px 27px;
}

.header-left,
.header-right {
	display: inline-block;
	vertical-align: top;
}

.header-left {
	width: 45%;
	height: auto;
}

.header-right {
	width: 54%;
	height: 100%;
	position: relative;
}

.header-tels {
	display: inline-block;
	vertical-align: top;
}

.header-tels {
	line-height: 1em;
}

.header-tels li a {
	text-decoration: none;
	font-size: 16px;
	color: #fff;
}

.header-callback {
	float: right;
	display: table-cell;
	width: 276px;
	height: 25px;
	padding-top: 3px;
	margin-top: 6px;
	border: 2px solid #7c7c7c;
	font-size: 18px;
	text-align: center;
	color: #dadada
}

.header-callback:hover {
	color: #f6a819;
	border-color: #f6a819;
	cursor: pointer;
}

nav {
	width: 94%;
	height: auto;
	padding: 0 4% 0 2%;
	position: absolute;
	bottom: 10px;
	left: 0;
}

nav ul {
	display: flex;
	justify-content: space-between;
}

nav ul li {
	display: inline-block;
}

nav ul li a {
	color: #f6a819;
	text-decoration: none;
	font-weight: bold;
}

nav ul li a:hover {
	color: #fff;
}

.header-bottom .header-left {
	width: 44%;
}

.header-bottom .header-left p {
	font-size: 22px;
	font-weight: bold;
}

.header-bottom .header-left h1 {
	font-size: 24px;
	font-weight: bold;
	color: #f6a819;
}

.header-bottom .header-right h2 {
	font-size: 16.3px;
}

#stoimost {
	width: 100%;
	height: 42px;
}

#stoimost span {
	display: block;
	color: #dadada;
	padding-bottom: 15px;
}

#stoimost input {
	display: inline-block;
	vertical-align: top;
}

#phone {
	width: 191px;
	height: 40px;
	border: 1px solid #474747;
	margin-right: 2px;
	color: #000;
	padding: 0 10px;
	font-size: 20px;
	font-weight: normal;
	position: relative;
}

#stoimost-submit {
	width: 267px;
	height: 42px;
	display: inline-block;
	vertical-align: top;
	background: #f6a819;
	font-size: 22px;
	font-weight: bold;
	color: #fff;
}

#stoimost-submit:hover {
	background: #FFAE26;
	border: 2px solid #f6a819;
	box-sizing: border-box;
	cursor: pointer;
}

.phone-wrap {
	display: inline-block;
	vertical-align: top;
}

.header-bottom .header-right p.top {
	font-size: 16px;
	color: c0c0c0;
	padding: 23px 0 14px;
}

.header-bottom .header-right p.bottom {
	font-size: 10px;
	color: c0c0c0;
	padding-top: 5px;
}



/* Catalog */
#catalog {
	width: auto;
	height: auto;
	padding-top: 25px;
}

#catalog h3 {
	padding-bottom: 30px;
}

#catalog h4 {
	font-weight: bold;
	font-size: 30px;
	color: #000;
	text-align: center;
}

.line {
	width: auto;
	height: 1px;
	background: #ebebeb;
	margin: 0 94px;
}

.galery {
	width: 100%;
	height: auto;
}

#catalog-box {
	height: auto;
	width: auto;
	padding: 30px 0 0 0;
	margin: 0 auto;
}

#catalog-box .catalog-item {
	height: auto;
	width: 1050px;
	margin: 0 auto;
}

.catalog-pic-box {
	display: block;
	width: auto;
	height: auto;
	padding-left: 40px;
	padding-top: 50px;
}

.pic-box-main-wrap {
	width: auto;
	height: auto;
}

.pic-box-main {
	display: inline-block;
	vertical-align: top;
	height: 450px;
	width: 450px;
	line-height: 450px;
	text-align: center;
	position: relative;
}

.pic-box-main::after {
	width: 442px;
	height: 156px;
	content: "";
	background: url(../images/shadow.png) no-repeat;
	background-size: cover;
	position: absolute;
	bottom: -40px;
	left: 60px;
	opacity: 0.8;
	z-index: -1;
}

.pic-box-main img {
	display: inline-block;
	vertical-align: middle;
	height: auto;
	width: auto;
	max-width: 450px;
	max-height: 450px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}

#catalog-box .owl-item {
	height: auto;
}

.pic-box-main-info {
	width: 320px;
	height: auto;
	position: absolute;
	left: 330px;
	bottom: 0;
}

.info-line {
	width: 100%;
	height: auto;
	min-height: 82px;
	position: relative;
	margin-bottom: 10px;
}

.info-line:after {
	width: 50px;
	height: 2px;
	position: absolute;
	left: 84px;
	top: 42px;
	background: #b3b3b3;
	content: "";
}

.info-pic {
	width: 82px;
	height: 82px;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 50%;
	border: 1px solid #979797;
	overflow: hidden;
	transition: 0.3s ease all;
	z-index: 5;
}

.info-pic:hover {
	-webkit-transform: scale(1.25, 1.25);
	-moz-transform: scale(1.25, 1.25);
	-ms-transform: scale(1.25, 1.25);
	-o-transform: scale(1.25, 1.25);
	transform: scale(1.25, 1.25);
	z-index: 5;
}

.info-pic img {
	display: block;
	width: 100%;
	height: 100%;
	z-index: 99;
}

.info-text {
	width: auto;
	height: auto;
	display: block;
	line-height: normal;
	padding: 35px 0 0 145px;
}

.info-text span,
.info-text p {
	display: block;
	color: #000;
	text-align: left;
	font-size: 12px;
}

.info-text span {
	font-weight: bold;
}

.characters {
	float: right;
	width: 270px;
	height: auto;
	max-height: 470px;
	overflow: hidden;
	position: relative;
	padding-top: 50px;
	padding-right: 30px;
}

.text-line {
	width: auto;
	height: auto;
	padding-bottom: 30px;
}

.characters p {
	display: block;
	font-weight: bold;
	font-size: 18px;
}

.characters span {
	display: inline;
	font-weight: normal;
	font-size: 18px;
}

.textnormal {
	font-weight: inherit !important;
	padding-bottom: 10px;
}

.price-box {
	position: absolute;
	bottom: 30px;
	right: 150px;
}

.price-box p,
.price-mob p {
	font-size: 24px;
	color: #000;
	font-weight: bold;
}

.price-mob {
	display: none;
}

.price {
	font-size: 24px;
	color: #f6a819;
	padding-left: 10px;
}

.catalog-item {
	position: relative;
}

.catalog-item-preview {
	display: block;
	height: 74px;
	width: auto;
	margin-top: 80px;
}

.preview-item {
	width: 70px;
	height: 70px;
	border: 2px solid #aeaeae;
	border-radius: 50%;
	display: inline-block;
	vertical-align: top;
	overflow: hidden;
	margin-right: 20px;
}

.preview-item:hover {
	border: 2px solid #f6a819;
}

.preview-item img {
	display: block;
	width: auto;
	height: 60%;
	padding-top: 20%;
	margin: 0 auto;
}

#zakaz {
	width: auto;
	height: auto;
	background: #f5f5f5;
}

.zakaz {
	width: 1143px;
	height: auto;
	margin: 0 auto;
	padding: 60px 0;
}

#form-zakaz {
	width: 532px;
	height: 224px;
	background: #fcfcfc;
	margin: 0 auto;
	margin-top: 60px;
	padding: 40px 30px;
	position: relative;
	color: #000;
}

#form-zakaz p {
	color: #000;
	font-size: 20px;
	font-weight: bold;
	padding-bottom: 20px;
}

.input-line1,
.input-line2 {
	width: 100%;
	position: relative;
}

.input-line1 {
	padding-top: 8px;
	margin-bottom: 15px;
	height: 40px;
}

.input-line2 {
	padding-top: 16px;
	margin-bottom: 15px;
	height: 32px;
}

#phone2,
.marka-avto {
	width: 237px !important;
	height: 46px !important;
	color: #000 !important;
	padding: 0 20px !important;
	border: 1px solid #d1d1d1 !important;
	position: absolute !important;
	top: 0 !important;
	right: 0 !important;
}

#marka-avto::-webkit-input-paceholder {
	font-size: 18px;
	font-weight: normal;
	color: #dadada;
}

.input-line label,
.input-line label {
	color: #474747 !important;
	font-size: 18px;
}

.input-line1 span {
	display: block;
	color: #676767;
	font-size: 10px;
}

.ul-menu-item {
	display: block;
	width: 237px;
	border-collapse: collapse;
	padding: 5px 20px;
	color: #E30003;
	cursor: pointer;
	display: block;
	border: 1px solid #474747;
	background: #fcfcfc;
}

#form-zakaz-submit {
	width: 279px;
	height: 62px;
	float: right;
	background: #f6a819;
	font-size: 26px;
	font-weight: bold;
	color: #fff;
}

#form-zakaz-submit:hover {
	background: #FFAE26;
	cursor: pointer;
}

/* Advantages */
#advantages {
	width: auto;
	height: auto;
	background: #F5F5F5;
}

#advantages h3 {
	padding-bottom: 52px;
}

.advantages-items {
	width: 960px;
	height: auto;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	margin-top: 55px;
	padding-bottom: 80px;
}

.advantages-item {
	width: 200px;
	height: auto;
	display: inline-block;
}

.advantages-items .line {
	display: none;
}

.advantages-item-pic {
	height: 100px;
	width: 100px;
	margin: 0 auto;
}

.advantages-item-pic img {
	display: block;
	width: 100%;
	height: 100%;
	margin: 0 auto;
}

.advantages-item h4 {
	display: block;
	width: 120px;
	height: auto;
	text-align: center;
	padding: 40px 0 20px;
	margin: 0 auto;
}

.advantages-item span {
	display: block;
	width: auto;
	height: auto;
	padding: 10px 0;
	font-size: 16px;
}

/* Reviews */
#reviews {
	width: auto;
	height: auto;
	padding-top: 40px;
}

/*height:360px;*/
#revievs-box {
	width: auto;
	height: 200px;
	padding: 0 50px;
	position: relative;
}

#reviews-box .item {
	width: auto;
	height: auto;
	padding: 60px 50px;
}

.otziv-foto {
	float: left;
	width: 80px;
	height: 80px;
	margin: 0 30px 10px 0px;
}

.otziv-foto img {
	width: auto;
	height: 100%;
}

.review-item {
	width: 500px;
	height: auto;
	margin: 0 auto;
}

.review-item p {
	font-size: 16px;
	color: #000;
	text-align: justify;
	padding-bottom: 25px;
}

.review-item span {
	display: block;
	width: 100%;
	height: auto;
	font-size: 16px;
	font-weight: bold;
	text-align: right;
}

/* Delivery */
#delivery {
	width: auto;
	height: auto;
	background: #f5f5f5;
	padding: 40px 0 20px;
}

.delivery-items {
	width: 960px;
	height: auto;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	margin-top: 105px;
	padding-bottom: 30px;
}

.delivery-item {
	width: 235px;
	height: auto;
	display: inline-block;
}

.delivery-item-pic {
	height: 130px;
	width: auto;
	margin: 0 auto;
}

.delivery-item-pic img {
	display: block;
	width: auto;
	height: 100%;
	margin: 0 auto;
}

.delivery-item h4 {
	display: block;
	width: 180px;
	height: auto;
	text-align: center;
	padding: 50px 0 20px;
	margin: 0 auto;
	font-size: 18px;
	font-weight: bold;
}

.delivery-item ul {
	width: auto;
	height: auto;
	list-style: none;
	padding-left: 20px;
}

.delivery-item ul li {
	display: block;
	width: auto;
	padding-bottom: 23px;
	position: relative
}

.delivery-item ul li:before {
	content: "- ";
	position: absolute;
	left: -15px;
	top: 0;
}

/* Partners */
#partners {
	width: auto;
	height: auto;
	background: #f5f5f5;
	padding: 0;
	min-height: 50px;
}

#partners h3 {
	padding-bottom: 50px;
}

.partners {
	width: auto;
	height: auto;
	padding: 50px 97px 0 97px;
	position: relative;
}

.partners:before {
	width: 957px;
	height: 2px;
	content: "";
	background: #ebebeb;
	position: absolute;
	top: 0;
	left: 97px;
}

.partners img {
	display: block;
	width: auto;
	height: auto;
	margin: 0 auto 73px auto;
}

/* Footer */
footer {
	width: auto;
	height: auto;
	background: url(../images/header-background.png) no-repeat;
	background-size: cover;
}

footer .container {
	width: 957px;
	height: 325px;
	padding: 45px 93px 50px;
}

footer h2 {
	padding-bottom: 20px;
	font-size: 18px;
	color: #fff;
}

footer p {
	color: #dadada;
}

.footer-top,
.footer-bottom {
	width: auto;
}

.footer-top {
	height: auto;
}

.footer-bottom {
	height: auto;
}

.footer-left,
.footer-right {
	display: inline-block;
	vertical-align: top;
}

.footer-left {
	width: 45%;
	height: auto;
	padding-left: 23px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-bor;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

.footer-right {
	float: right;
	width: 33%;
	height: 100%;
	padding-left: 23px;
	position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-bor;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

.footer-bottom .footer-left {
	width: 44%;
}

.footer-bottom .footer-right p {
	display: inline-block !important;
	position: relative !important;
	font-weight: bold !important;
}

.footer-bottom .footer-right a {
	display: inline-block !important;
	vertical-align: middle !important;
	width: 30px;
	height: 30px;
	margin-left: 20px;
}

.footer-bottom .footer-right a img {
	width: 100%;
	height: 100%;
}

.footer-top .footer-left .podrobnee {
	display: block;
	width: 190px;
	height: auto;
	background: #f6a819;
	margin-top: 40px;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	padding: 10px 0;
	cursor: pointer;
}

.footer-top .footer-left .podrobnee:hover {
	background: #FFAE26;
}

.footer-top .footer-right .footer-right-inner h2 {
	color: #dadada;
}

.footer-tels {
	display: inline-block;
	vertical-align: top;
	padding-bottom: 20px;
}

.footer-tels li a {
	text-decoration: none;
	font-size: 16px;
	color: #dadada;
}

.footer-top .footer-right .footer-right-inner>a {
	color: #dadada;
	font-size: 18px;
}

footer .line {
	margin: 50px auto;
	background: #3b3b3b;
}


/* Black */
.black {
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.9);
	z-index: 999999998;
}

/* Callback */
.callback {
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 330px;
	height: 260px;
	background: #fff;
	margin: auto;
	padding: 40px 10px;
	z-index: 999999999;
	text-align: center;
}

#close {
	float: right;
	display: block;
	width: 24px;
	height: 24px;
	background: url(../images/close.png) no-repeat;
	margin: -40px -40px 0 0;
	cursor: pointer;
}

.callback p {
	font-size: 19px;
	padding: 0 30px 10px;
	text-align: center;
}

#callback-form input {
	width: 250px;
	height: 49px;
	border: 1px solid #979797;
	margin-bottom: 10px;
	color: #000;
	padding: 0 10px;
	font-size: 20px;
	font-weight: normal;
	position: relative;
	background: #E4E4E4;
}


#callback-submit {
	width: 272px;
	height: 49px;
	display: inline-block;
	vertical-align: top;
	background: #f6a819;
	font-size: 22px;
	font-weight: bold;
	color: #fff;
	border: 2px solid #f6a819;
}

#callback-submit:hover {
	background: #FFAE26;
	box-sizing: border-box;
	cursor: pointer;
}

#callback-form input::-webkit-input-placeholder,
#callback-form textarea::-webkit-input-placeholder {
	color: #b7b7b7;
	font-size: 18px;
}

#callback-form input::-moz-input-placeholder,
#callback-form textarea::-moz-input-placeholder {
	color: #b7b7b7;
	font-size: 18px;
}

#callback-form input::-o-input-placeholder,
#callback-form textarea::-o-input-placeholder {
	color: #b7b7b7;
	font-size: 18px;
}

#callback-form input::-ms-input-placeholder,
#callback-form textarea::-ms-input-placeholder {
	color: #b7b7b7;
	font-size: 18px;
}



@media screen and (max-width:1142px) {
	body {
		margin: 0 auto;
		width: auto;
		min-width: 480px;
	}

	h3 {
		font-size: 22px;
		z-index: 50;
		max-height: 65px;
	}


	.blackline {
		width: 100%;
		height: 86px;
		position: fixed;
		top: 0;
		background: #222323;
		border-bottom: 1px solid #767677;
		z-index: 999999;
	}

	#mobmenu {
		width: 480px;
		height: 86px;
		position: fixed;
		margin: -86px 0 0 -45px;
		background: #222323;
		border-bottom: 1px solid #767677;
		z-index: 999999;
	}

	#burger {
		width: 45px;
		height: 35px;
		background: url(../images/burger.png) no-repeat;
		background-size: cover;
		position: absolute;
		top: 30px;
		left: 30px;
		cursor: pointer;
	}

	.ul-menu {
		width: 295px !important;
		padding: 90px 30px 50px 50px !important;
	}

	.moblogo {
		width: 150px;
		height: 60px;
		position: absolute;
		top: 20px;
		right: 50px;
		background: url(../images/Logo.png) no-repeat;
		background-size: contain;
		;
	}

	#advantages,
	#reviews,
	#delivery,
	#partners {
		position: relative;
	}

	#advantages:before,
	#reviews:before,
	#delivery:before,
	#partners:before {
		width: 100%;
		height: 68px;
		background: #222323;
		content: "";
		position: absolute;
		top: 0;
		left: 0;
	}



	/* Header 480 */
	.container {
		width: 420px;
		padding: 30px;
	}

	header .container {
		width: 405px;
		padding-left: 45px;
	}

	.container .arrow {
		width: 29px;
		height: 18px;
		position: absolute;
		top: 26px;
		right: 30px;
		background: url(../images/arrow.png) no-repeat;
		background-size: cover;
		z-index: 60;
		cursor: pointer;
	}

	.arrow-rotate {
		transform: rotate(180deg);
	}

	.container .line {
		margin: 0;
	}

	header {
		height: auto;
		width: auto;
		padding: 0;
	}

	header .container {
		padding-top: 86px;
		padding-bottom: 0;
		padding-left: 45px;
	}

	header .container:before {
		width: 45px;
		height: 37px;
		content: "";
		background: url(../images/burger.png) no-repeat;
		background-size: cover;
		position: absolute;
		top: 30px;
		left: 30px;
		cursor: pointer;
	}

	.header-left,
	.header-right {
		display: block;
		width: auto;
	}

	.header-top,
	.header-bottom {
		height: auto;
		border: none;
	}

	.header-top,
	.header-bottom {
		padding: 0;
	}

	.header-top .header-left img {
		display: block;
		width: 280px;
		height: 100px;
		margin: 30px auto 50px auto;
		image-rendering: crisp-edges;
		image-rendering: -webkit-crisp-edges;
		image-rendering: -o-crisp-edges;
		image-rendering: -moz-crisp-edges;
		image-rendering: -ms-crisp-edges;
	}

	.header-top .header-right {
		display: block;
		position: fixed;
		top: 0;
		height: auto;
		z-index: 9999999;
	}

	.header-top .header-right .header-tels,
	.header-top .header-right .header-callback {
		display: none;
	}

	.header-top .header-right nav {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
	}

	.header-top .header-right nav ul {
		width: 0;
		height: auto;
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		background: rgba(146, 146, 146, 0.95);
		z-index: 100;
		transition: 0.3s all ease;
		margin-left: -45px;
		padding: 90px 0 50px 0;
		overflow: hidden;
		z-index: 999999999;
	}

	.header-top .header-right nav ul:before {
		width: 45px;
		height: 35px;
		content: "";
		background: url(../images/burger.png) no-repeat;
		background-size: cover;
		position: absolute;
		top: 30px;
		right: 30px;
		cursor: pointer;
	}

	.links {
		display: block;
		width: auto;
		padding: 10px 0 10px;
	}

	.links a {
		color: #fff;
		font-size: 30px;
	}

	.links:hover a {
		color: #f6a819;
		width: auto;
	}

	.header-bottom .header-left {
		width: auto;
	}

	.header-bottom .header-left p {
		padding-bottom: 40px;
	}

	#stoimost {
		position: relative;
		width: auto;
		height: 240px;
	}

	#stoimost input {
		display: block;
		height: 76px;
	}

	#stoimost-submit,
	#phone {
		margin: 0 auto;
		font-size: 30px;
	}

	#stoimost-submit {
		width: 275px;
	}

	#phone {
		width: 255px;
		margin-bottom: 37px;
	}

	.header-bottom .header-right p.top {
		font-size: 20px;
		color: c0c0c0;
		padding: 23px 0 25px 71px;
	}

	.header-bottom .header-right p.bottom {
		position: absolute;
		top: 190px;
		left: 71px;
		font-size: 12px;
	}


	/* Catalog 480 */
	#catalog {
		padding: 0;
	}

	#catalog .line {
		margin: 0;
	}

	#catalog h4 {
		display: block;
		width: auto;
		text-align: center;
		font-size: 22px;
		padding-top: 20px;
	}

	#catalog .container {
		padding: 30px 0 50px 0;
	}

	#catalog .container h3 {
		padding-bottom: 20px;
	}

	.galery {
		width: auto;
	}

	#catalog-box {
		padding-top: 0;
	}

	#catalog-box .catalog-item {
		width: 420px;
		display: inline-block;
		vertical-align: top;
	}

	.catalog-pic-box {
		padding: 0;
	}

	.pic-box-main-wrap {
		display: block;
	}

	.pic-box-main {
		width: 350px;
		height: 350px;
		line-height: 350px;
		display: block;
		margin: 0 auto;
	}

	.pic-box-main img {
		width: auto;
		height: auto;
		max-width: 350px;
		max-height: 350px;
	}

	.catalog-item {
		padding: 0 0 50px 0;
		position: relative;
	}

	.catalog-item:before {
		width: 100%;
		height: 2px;
		content: "";
		background: #ebebeb;
		position: absolute;
		top: 0;
		left: 0;
	}

	.catalog-item-preview {
		display: none;
	}

	.pic-box-main-info {
		width: auto;
		left: 270px;
	}

	.pic-box-main::after {
		width: 300px;
		height: 100px;
	}

	.info-line:after {
		background: transparent;
	}

	.info-line .info-text {
		display: none;
	}

	.info-pic {
		position: relative;
	}

	.info-pic:hover {
		-webkit-transform: scale(1, 1);
		-moz-transform: scale(1, 1);
		-ms-transform: scale(1, 1);
		-o-transform: scale(1, 1);
		transform: scale(1, 1);
	}

	.characters {
		display: none;
	}

	.price-box {
		display: none;
	}

	.price-mob {
		display: block;
		padding: 20px 0 30px;
	}

	.price-mob span {
		display: block;
		text-align: center;
		padding: 0;
		font-weight: bold;
	}

	.zakaz {
		display: none;
	}


	/* Advantages 480 */
	#advantages .container {
		position: relative;
		padding: 0 30px 0 30px;
	}

	#advantages .container:before {
		width: 9999999px;
		height: 50px;
		content: "";
		background: #000;
		position: absolute;
		top: 0;
		left: 0;
	}

	#advantages h3 {
		display: block;
		width: 435px;
		position: absolute;
		left: 0;
		top: 0;
		padding: 20px 0 20px 45px;
		font-size: 22px;
		background: #222323;
		text-align: left;
	}

	.advantages-items {
		width: auto;
		display: none;
		margin-top: 70px;
		padding-bottom: 0;
	}

	.advantages-item {
		display: block;
		width: auto;
		height: auto;
		padding: 20px 0 20px 20px;
		position: relative;
	}

	.advantages-item:before {
		width: 100%;
		height: 2px;
		content: "";
		background: #ebebeb;
		position: absolute;
		top: 0;
		left: 0;
	}

	.advantages-item-pic {
		display: inline-block;
		vertical-align: top;
	}

	.advantages-item-info {
		display: inline-block;
		vertical-align: top;
		width: 260px;
		height: auto;
		padding: 10px 0 0 30px;
	}

	.advantages-item-info h4 {
		text-align: left;
		padding: 0;
		margin: 0;
		display: inline;
	}

	.advantages-item span {
		width: auto;
	}


	/* Reviews 480 */
	#reviews {
		height: auto;
		padding-top: 0;
	}

	#reviews .container {
		padding-bottom: 0;
		padding-top: 0;
	}

	#reviews .container h3 {
		display: block;
		width: 435px;
		position: absolute;
		left: 0;
		top: 0;
		padding: 20px 0 20px 45px;
		font-size: 22px;
		background: #222323;
		text-align: left;
	}

	#reviews-box {
		display: none;
		padding-top: 60px;
	}

	#reviews-box .item {
		padding: 0 0;
	}

	#reviews-box .item .review-item {
		position: relative;
	}

	#reviews-box .item .review-item:first-child {
		margin-top: 20px;
	}

	#reviews-box .item .review-item:before {
		width: 100%;
		height: 2px;
		content: "";
		background: #ebebeb;
		position: absolute;
		top: 0;
		left: 0;
	}

	.review-item {
		width: auto;
		padding: 20px 0;
	}

	.review-item p {
		padding-bottom: 10px;
	}

	.otziv-foto {
		width: 100px;
		height: 100px;
		margin: 0 10px 10px 0;
	}


	/* Delivery 480 */
	#delivery {
		padding-top: 0;
		padding-bottom: 0;
	}

	#delivery h3 {
		display: block;
		width: 435px;
		position: absolute;
		left: 0;
		top: 0;
		padding: 20px 0 20px 45px;
		font-size: 22px;
		background: #222323;
		text-align: left;
	}

	#delivery .container {
		padding-bottom: 0;
		height: auto;
		padding-top: 0;
	}

	.delivery-items {
		width: auto;
		display: none;
		margin: 0;
		padding-bottom: 0;
		padding-top: 70px;
	}

	.delivery-item {
		display: block;
		width: auto;
		border-top: 2px solid #ebebeb;
		padding: 30px 0;
	}

	.delivery-item h4 {
		width: auto;
	}

	.delivery-item-pic,
	.delivery-item-info {
		display: inline-block;
		vertical-align: top;
	}

	.delivery-item-pic {
		width: 130px;
		height: 130px;
		padding-left: 10px;
	}

	.delivery-item-pic img {
		width: auto;
		height: auto;
		max-width: 130px;
		max-height: 130px;
	}

	.delivery-item-info {
		width: 260px;
	}

	.delivery-item-info h4 {
		display: block;
		width: 270px;
		padding: 0 0 10px 0;
	}

	.delivery-item-info ul {
		padding-left: 25px;
	}

	.delivery-item-info ul li {
		padding-bottom: 5px;
	}

	.delivery-item-info ul li:before {
		width: 0;
		height: 0;
		content: "";
	}


	/* Partners 480 */
	#partners h3 {
		display: block;
		width: 435px;
		position: absolute;
		left: 0;
		top: 0;
		padding: 20px 0 20px 45px;
		font-size: 22px;
		background: #222323;
		text-align: left;
	}

	#partners .container {
		padding-top: 0;
		padding-bottom: 0;
		height: auto;
	}

	.partners {
		display: none;
		width: auto;
		padding: 100px 0 30px 0;
	}

	.partners:before {
		width: 0;
		height: 0;
		content: "";
	}

	.partners img {
		width: 100%;
		height: auto;
		margin-bottom: 0;
	}



	/* Footer 480 */
	footer .container {
		width: 420px;
		height: auto;
		padding: 70px 30px 35px 30px;
	}

	footer .container:before {
		width: 420px;
		height: 2px;
		content: "";
		background: #343434;
		position: absolute;
		top: 20px;
		left: 30px;
	}

	.podrobnee {
		margin: 30px auto 90px auto;
	}

	.footer-top,
	.footer-bottom,
	.footer-left,
	.footer-right {
		display: block;
		width: auto;
	}

	.footer-left {
		padding-left: 15px;
	}

	.footer-top .footer-left p br {
		content: ""
	}

	.footer-top .footer-left p br:after {
		content: "\00a0"
	}

	.footer-top .footer-right {
		float: none;
		padding: 0 0 0 20px;
	}

	.footer-right-inner {
		display: inline-block;
		vertical-align: top;
	}

	.footer-right-inner-right {
		float: right;
	}

	.footer-right-inner-right>a {
		font-size: 16px !important;
	}

	.footer-bottom {
		padding-top: 20px;
	}

	.footer-bottom .footer-left {
		float: left;
	}

	.footer-bottom .footer-left p {
		font-size: 9px;
		color: #646464;
	}

	.fancybox-margin {
		margin-right: 17px;
	}
}